In [1]:
from helper_functions import *
from mean_std_cv import *

### 3-class

In [2]:
file_path = "/home/edumaba/Public/MPhil_Thesis/Code/wear_uropatch/configuration_selection/2-class nested cross-validation.csv"
mean_std_df = parse_cv_results(file_path)

In [3]:
mean_std_df.head()

,window_size,model,accuracy_mean,accuracy_std,precision_mean,precision_std,recall_mean,recall_std,f1_mean,f1_std
0,1s,DT,0.6430,0.0532,0.6530,0.0365,0.6144,0.0734,0.5817,0.0840
1,1s,RF,0.6960,0.0643,0.6902,0.0627,0.6850,0.0627,0.6791,0.0601
2,1s,XGB,0.7100,0.0567,0.7026,0.0490,0.6962,0.0530,0.6921,0.0544
3,1s_0.5,DT,0.6637,0.0563,0.6520,0.0462,0.6492,0.0505,0.6457,0.0488
4,1s_0.5,RF,0.7044,0.0634,0.7015,0.0630,0.7079,0.0742,0.6958,0.0635

In [4]:
# metric we want to sort with
metric = 'f1'

df = mean_std_df.copy()
mean_col = f'{metric}_mean'
std_col = f'{metric}_std'

In [5]:
df.head()

,window_size,model,accuracy_mean,accuracy_std,precision_mean,precision_std,recall_mean,recall_std,f1_mean,f1_std
0,1s,DT,0.6430,0.0532,0.6530,0.0365,0.6144,0.0734,0.5817,0.0840
1,1s,RF,0.6960,0.0643,0.6902,0.0627,0.6850,0.0627,0.6791,0.0601
2,1s,XGB,0.7100,0.0567,0.7026,0.0490,0.6962,0.0530,0.6921,0.0544
3,1s_0.5,DT,0.6637,0.0563,0.6520,0.0462,0.6492,0.0505,0.6457,0.0488
4,1s_0.5,RF,0.7044,0.0634,0.7015,0.0630,0.7079,0.0742,0.6958,0.0635

In [6]:
top_n = 10# Find intersection of top performers in both criteria
top_mean = df.nlargest(top_n * 2, mean_col).index
top_std = df.nsmallest(top_n * 2, std_col).index

In [7]:
top_mean

Index([19, 43, 20, 41, 34, 35, 40, 31, 33, 44, 4, 26, 38, 25, 22, 2, 10, 28,
       13, 24],
      dtype='int64')

In [8]:
top_std

Index([40, 32, 31, 41, 18, 19, 8, 20, 28, 27, 30, 3, 7, 5, 38, 44, 2, 21, 12,
       42],
      dtype='int64')

In [9]:
# Intersection
intersection_idx = list(set(top_mean) & set(top_std))
df_intersection = df.loc[intersection_idx].copy()

In [10]:
intersection_idx

[2, 38, 40, 41, 44, 19, 20, 28, 31]

In [11]:
df_intersection

,window_size,model,accuracy_mean,accuracy_std,precision_mean,precision_std,recall_mean,recall_std,f1_mean,f1_std
2,1s,XGB,0.7100,0.0567,0.7026,0.0490,0.6962,0.0530,0.6921,0.0544
38,5s,XGB,0.7127,0.0536,0.7012,0.0557,0.6941,0.0572,0.6942,0.0533
40,5s_0.5,RF,0.7147,0.0338,0.7070,0.0262,0.7093,0.0237,0.7058,0.0267
41,5s_0.5,XGB,0.7215,0.0352,0.7143,0.0302,0.7118,0.0275,0.7098,0.0298
44,5s_0.8,XGB,0.7032,0.0539,0.6986,0.0565,0.7024,0.0566,0.6968,0.0540
19,3s,RF,0.7294,0.0320,0.7215,0.0427,0.7241,0.0425,0.7202,0.0410
20,3s,XGB,0.7325,0.0295,0.7241,0.0467,0.7187,0.0439,0.7181,0.0430
28,4s,RF,0.6997,0.0474,0.7054,0.0488,0.6981,0.0477,0.6870,0.0455
31,4s_0.5,RF,0.7148,0.0326,0.7065,0.0291,0.7036,0.0291,0.7031,0.0298

In [12]:
len(df_intersection)

9

In [13]:
top_n

10

In [14]:
if len(df_intersection) < top_n:
            print(f"Warning: Only {len(df_intersection)} configurations in intersection. Expanding search...")
            # Expand search if intersection is too small
            top_mean = df.nlargest(top_n * 3, mean_col).index
            top_std = df.nsmallest(top_n * 3, std_col).index
            intersection_idx = list(set(top_mean) & set(top_std))
            df_intersection = df.loc[intersection_idx].copy()

Warning: Only 9 configurations in intersection. Expanding search...

In [19]:
# Sort by mean performance within intersection
# df = df_intersection.sort_values(mean_col, ascending=False)
df = df_intersection.sort_values(std_col, ascending=True)
df = df_intersection.sort_values(["std_col", "mean_col"], ascending=[True, False])
ranking_col = mean_col

KeyError: 'std_col'

In [ ]:
df.head()

,window_size,model,accuracy_mean,accuracy_std,precision_mean,precision_std,recall_mean,recall_std,f1_mean,f1_std
40,5s_0.5,RF,0.7147,0.0338,0.7070,0.0262,0.7093,0.0237,0.7058,0.0267
32,4s_0.5,XGB,0.7021,0.0232,0.6949,0.0180,0.6818,0.0286,0.6820,0.0276
41,5s_0.5,XGB,0.7215,0.0352,0.7143,0.0302,0.7118,0.0275,0.7098,0.0298
31,4s_0.5,RF,0.7148,0.0326,0.7065,0.0291,0.7036,0.0291,0.7031,0.0298
18,3s,DT,0.6879,0.0299,0.6891,0.0477,0.6909,0.0474,0.6804,0.0396

### 2-class

In [ ]:
file_path = "/home/edumaba/Public/MPhil_Thesis/Code/wear_uropatch/configuration_selection/2-class nested cross-validation.csv"